
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    #policyRequestTable tr th {
        color: white;
        font-weight: bold;
        font-size: 15px
    }

    #policyRequestTable tbody tr td {
        color: black;
    }
</style>
<div style="margin-left:10px; margin-right: 10px; margin-bottom:10px">
    <div style="" class="form-group row">
        <div class="col-md-3" style="text-align: center;">
            <label>Search Employee's Name: </label>
        </div>
        <div class="col-md-4">
            <input type="text" value="" id="searchEmployeeName" class="form-control" />
        </div>
        <div class="col-md-2">
            <button type="button" id="searchBtn" class="btn btn-success">Search</button>
        </div>
        <div class="col-md-2">
            <button type="button" id="showAll" class="btn btn-info">Show All</button>
        </div>
    </div>
    <div class="table-responsive table-responsive-data2" style="text-align:center">
        <table class="table table-data2" id="policyRequestTable">
            <thead style="background-color:black">
                <tr>
                    <th>
                        Index
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Employee's First Name
                    </th>
                    <th>
                        Employee's Last Name
                    </th>
                    <th>
                        Policy's Name
                    </th>
                    <th>
                        Request's Content
                    </th>
                    <th>
                        Approved Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Function Buttons
                    </th>
                </tr>
            </thead>
            <tbody id="policyRequestTableBody">
            </tbody>
        </table>
    </div>
    <div style="margin-top: 10px">
        <button type="button" class="btn btn-success" id="backBtn">Back</button>
        <span style="margin-left: 10px; margin-right: 10px" id="showPage">1/1</span>
        <button type="button" class="btn btn-success" id="nextBtn">Next</button>
        <input type="text" style="display:none" id="curPage" value="1" />
        <input type="text" style="display:none" id="totalPage" value="1" />
    </div>
</div>
<script src="~/js/Admin/policyrequest/policyRequestList.js"></script>
