        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="~/images/icon/logo-white-client.png" alt="CoolAdmin" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a asp-controller="home" asp-action="index">
                                    <i class="fas fa-home"></i>Home
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="home" asp-action="aboutus">
                                    <i class="fas fa-heart"></i>
                                    <span class="bot-line"></span>About Us</a>
                            </li>
                            <li>
                                <a asp-controller="home" asp-action="contactus">
                                    <i class="fas fa-comments"></i>
                                    <span class="bot-line"></span>Contact Us</a>
                            </li>
                            <li>
                                <a asp-controller="home" asp-action="register">
                                    <i class="fas fa-copy"></i>
                                    <span class="bot-line"></span>Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool" style="z-index:1">
                        <a asp-controller="auth" asp-action="index">
                            <button type="button" class="btn btn-primary">
                                Login &nbsp;
                            <i class="fa fa-star"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="~/images/icon/logo-white-client.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-heart"></i>About Us</a>
                        </li>
                        <li>
                            <a asp-controller="home" asp-action="index">
                                <i class="far fa-comments"></i>Contact Us</a>
                        </li>
                        <li>
                            <a asp-controller="home" asp-action="register">
                                <i class="fas fa-copy"></i>Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool" style="z-index:1">
                        <a asp-controller="auth" asp-action="index">
                            <button type="button" class="btn btn-primary">
                                Login &nbsp;
                            <i class="fa fa-star"></i></button>
                        </a>
            </div>        
        </div>
        <!-- END HEADER MOBILE -->
