        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="images/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a asp-controller="company" asp-action="index">
                                    <i class="fas fa-home-alt"></i>Home
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="home" asp-action="index">
                                    <i class="fas fa-copy"></i>
                                    <span class="bot-line"></span>News</a>
                            </li>
                            <li>
                                <a asp-controller="home" asp-action="index">
                                    <i class="fas fa-heart"></i>
                                    <span class="bot-line"></span>About Us</a>
                            </li>
                            <li>
                                <a asp-controller="home" asp-action="index">
                                    <i class="fas fa-comments"></i>
                                    <span class="bot-line"></span>Contact Us</a>
                            </li>
                            <li class="has-sub">
                                <a asp-controller="home" asp-action="index">
                                    <i class="fas fa-pencil-square"></i>
                                    <span class="bot-line"></span>Feed Back</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="images/icon/avatar-01.jpg" alt="avatar" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">User</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="images/icon/avatar-01.jpg" alt="avatar" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">User</a>
                                            </h5>
                                            <span class="email">User@example.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Billing</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="#">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-copy"></i>News</a>
                        </li>
                        <li>
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-heart"></i>About Us</a>
                        </li>
                        <li>
                            <a asp-controller="home" asp-action="index">
                                <i class="far fa-comments"></i>Contact Us</a>
                        </li>
                        <li>
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-pencil-square"></i>Feed Back</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="images/icon/avatar-01.jpg" alt="avatar" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">User</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="images/icon/avatar-01.jpg" alt="avatar" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">User</a>
                                    </h5>
                                    <span class="email">user@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->
