@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@model HealthInsuranceMgmt.Models.Employees;

<div class="login-form">
    <form asp-controller="auth" asp-action="login" method="post">
        <div class="form-group">
            <label>Email Address</label>
            <input class="au-input au-input--full" type="text" name="username" placeholder="User Name" asp-for="Username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="au-input au-input--full" type="password" name="password" placeholder="Password" asp-for="Password">
        </div>
        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
    </form>
    <div class="register-link">
        <p>
            Don't you have account?
            <a asp-controller="home" asp-action="register">Sign Up Here</a>
        </p>
    </div>
</div>