
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #companiesTable tr th {
        color: white;
        font-weight: bold;
        font-size: 15px
    }

    #companiesTable tbody tr td {
        color: black;
    }
</style>
<div style="margin-left:10px; margin-right: 10px">
    <div style="text-align:center; margin-bottom:10px; margin-top:5px">
        <button id="createNew" type="button" class="btn btn-success">Create New Company</button>
    </div>
    <div style="" class="form-group row">
        <div class="col-md-3" style="text-align: center;">
            <label>Search Company's Name: </label>
        </div>
        <div class="col-md-4">
            <input type="text" value="" id="searchCompanyName" class="form-control" />
        </div>
        <div class="col-md-2">
            <button type="button" id="searchBtn" class="btn btn-success">Search</button>
        </div>
        <div class="col-md-2">
            <button type="button" id="showAll" class="btn btn-info">Show All</button>
        </div>
    </div>
    <div class="table-responsive table-responsive-data2" style="text-align:center">
        <table class="table table-data2" id="companiesTable">
            <thead style="background-color:black">
                <tr>
                    <th>
                        Index
                    </th>
                    <th>
                        Company's Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Url
                    </th>
                    <th>
                        Function Buttons
                    </th>
                </tr>
            </thead>
            <tbody id="companiesTableBody">
            </tbody>
        </table>
    </div>
    <div style="margin-top: 10px">
        <button type="button" class="btn btn-success" id="backBtn">Back</button>
        <span style="margin-left: 10px; margin-right: 10px" id="showPage">1/1</span>
        <button type="button" class="btn btn-success" id="nextBtn">Next</button>
        <input type="text" style="display:none" id="curPage" value="1" />
        <input type="text" style="display:none" id="totalPage" value="1" />
    </div>
</div>
<script src="~/js/Admin/companies/companiesList.js"></script>

