
@{
    ViewData["Title"] = "accessDenied";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div style="text-align:center">
        <div>
            <h1 style="color:red; font-size:100px">404</h1>
        </div>
        <div>
            <h3 style="color:red; font-size:70px">Did you get lost?</h3>
            <h5 style="color:red; font-size:40px">Page Not Found</h5>
        </div>
        <div>
            <h1 style="color:red">Error!!!</h1>
        </div>
        <h3>Sorry! You don't have permission to access!!</h3>
        <h4 style="font-style:italic">Please don't try to access any pages that you don't have permission.</h4>
    </div>
</div>

