
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; ;
}

    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin-top: 20px;">
                    <div class="col-md-12">
                        <h3>ABOUT US</h3>
                        <center>
                            <div class="card">
                                <div class="card-header">CO-OP WITH</div>
                                <div class="card-body">                                    
                                    <div class="row form-group">
                                        <div class="col-md-4 alert alert-primary">
                                            <h3 style="text-align: left;">Bệnh viện Đa khoa Khu Vực Củ Chi</h3>
                                            <p style="text-align: left;">
                                                <strong>Address</strong> : Số 9A Đường Nguyễn Văn Hoài, Ấp Bàu Tre 2, Xã Tân An Hội, H. Củ Chi, TP.HCM
                                            </p>
                                            <p style="text-align: left;">
                                                <strong>Phone</strong> : 028 3892 0583
                                            </p><p style="text-align: left;">
                                                <strong>Email</strong> : bv.dkkvcuchi@tphcm.gov.vn
                                            </p>
                                            <p style="text-align: left;">
                                                <strong>Website</strong> : https://bvdkkvcuchi.vn/
                                            </p>
                                        </div>
                                        <div class="col-md-4 alert alert-primary">
                                            <h3 style="text-align: left;">Bệnh viện Đa khoa Khu Vực Thủ Đức</h3>
                                            <p style="text-align: left;">
                                                <strong>Address</strong> : 64 Lê Văn Chí, Khu phố 1, P. Linh Trung, Quận Thủ Đức, TP.HCM
                                            </p>
                                            <p style="text-align: left;">
                                                <strong>Phone</strong> : 028 3722 3556
                                            </p><p style="text-align: left;">
                                                <strong>Email</strong> : bv.dkkvthuduc@tphcm.gov.vn
                                            </p>
                                            <p style="text-align: left;">
                                                <strong>Website</strong> : http://www.benhvienkhuvucthuduc.vn/
                                            </p>
                                        </div>
                                        <div class="col-md-4 alert alert-primary">
                                            <h3 style="text-align: left;">Bệnh viện Đa khoa Khu vực Hóc Môn</h3>
                                            <p style="text-align: left;">
                                                <strong>Address</strong> : 65/2B Bà Triệu - Thị Trấn Hóc Môn - Huyện Hóc Môn - TP.HCM
                                            </p>
                                            <p style="text-align: left;">
                                                <strong>Phone</strong> :(08) 3891 4208
                                            </p><p style="text-align: left;">
                                                <strong>Email</strong> :  bvdkhocmon@gmail.com - support@bvdkhocmon.com
                                            </p>
                                            <p style="text-align: left;">
                                                <strong>Website</strong> : http://bvdkhocmon.vn/
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card">
                                <div><strong> INSURANCE AGENCY CONSULTANT INFORMATION</strong></div>
                                <div class="card-body">
                                    <div class="row form-group">
                                        <div class="col-md-4 text-center ">
                                            <img />Logo Company partner
                                            <h3>Company partner name</h3>
                                        </div>
                                        <div class="col-md-4 text-center ">
                                            <img />Logo Company partner
                                            <h3>Company partner name</h3>
                                        </div>
                                        <div class="col-md-4 text-center ">
                                            <img />Logo Company partner
                                            <h3>Company partner name</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>