
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; ;
}

<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center; margin-top: 20px;">
                <div class="col-md-12">
                    
                    <div class="card">
                        <div class="card-header title-2">Find Us</div>
                        <div class="card-body alert alert-success">
                            <div class="row form-group card-body">
                                
                                <div class="col-md-6 text-body text-md-left">
                                    <p><strong>Address</strong>Aptech , TPHCM</p>
                                    <p><strong>Phone</strong>: XXXXXXXXX</p>
                                    <p><strong>Email: </strong>popcool@gmail.com.vn</p>
                                    <p><strong>Website:</strong> http://HealthInsuranceMgmt.com</p>
                                </div>
                                <div class="col-md-6">
                                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1RdTzhbErROY1vQNIQM48uCKTVD3c6kRL" height="400" width="600"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>