
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; }
@model HealthInsuranceMgmt.Models.Employees
<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center; margin-top: 20px;">
                <h3>Hellow this is home page la al la la</h3>
                <hr class="line-seprate">
                <div class="col-md-12">
                    <center>
                        <section class="has-form">
                            <div class="card bg-warning">
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <div class="container">
                                            <form style="margin:auto" method="post" asp-controller="home" asp-action="create">
                                                <div class="card row">
                                                    <div class="card-header">REGISTER CONSULTANT</div>
                                                    <div class="card-body">

                                                        <div class="row form-group" style="max-width:600px">
                                                            <div class="col-sm-12">
                                                                <label class="control-label">First Name</label>
                                                                <span style="color:red; font-style: italic" asp-validation-for="FirstName"></span>
                                                                <input asp-for="FirstName" type="text" class="form-control" placeholder="FirstName">

                                                            </div>
                                                            <div class="col-sm-12">
                                                                <label class="control-label">Last Name</label>
                                                                <span style="color:red; font-style: italic" asp-validation-for="LastName"></span>
                                                                <input asp-for="LastName" type="text" class="form-control" placeholder="LastName">

                                                            </div>
                                                            <div class="col-sm-12">
                                                                <label class="control-label">Address</label>
                                                                <span style="color:red; font-style: italic" asp-validation-for="Address"></span>
                                                                <input asp-for="Address" type="text" class="form-control" placeholder="Address">

                                                            </div>
                                                            <div class="col-sm-12">
                                                                <label class="control-label">Phone</label>
                                                                <label><span style="color:red; font-style: italic" asp-validation-for="Phone"></span></label>
                                                                <input asp-for="Phone" type="text" class="form-control" placeholder="Phone">

                                                            </div>
                                                            <div class="col-sm-12">
                                                                <label asp-validation-for="State" class="control-label">State</label>
                                                                <span style="color:red; font-style: italic" asp-validation-for="State"></span>
                                                                <input asp-for="State" type="text" class="form-control" placeholder="State">
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <label class="control-label">City</label>
                                                                <span style="color:red; font-style: italic" asp-validation-for="City"></span>
                                                                <input asp-for="City" type="text" class="form-control" placeholder="City">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button type="submit" class="btn btn-outline-danger form-control" id="btnSubmit">REGISTER</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </section>
                    </center>
                </div>
                <section class="has-form">
                    <div class="container-fluid">
                        
                        <div class="row ">
                            <div class="col-md-3">
                                <span class="fa-stack">                                  
                                    <i class="fa fa-dollar fa-stack-1x bg-ligh"></i>
                                </span>
                                <span class="meta-name">Phí trung bình: </span>
                                <span class="meta-value">3.000 VND/ngày</span>
                            </div>
                            <div class="col-md-3">
                                <span class="fa-stack">                                    
                                    <i class="fa fa-bell fa-stack-1x bg-ligh"></i>
                                </span>
                                <span class="meta-name">Thủ tục: </span>
                                <span class="meta-value">5 phút qua điện thoại</span>
                            </div>
                            <div class="col-md-3">
                                <span class="fa-stack">                                   
                                    <i class="fa fa-users fa-stack-1x  bg-ligh"></i>
                                </span>
                                <span class="meta-name">Bảo lãnh: </span>
                                <span class="meta-value">150 bệnh viện</span>
                            </div>
                            <div class="col-md-3">
                                <span class="fa-stack">                                    
                                    <i class="fa fa-h-square fa-stack-1x  bg-ligh"></i>
                                </span>
                                <span class="meta-name">Đối tượng: </span>
                                <span class="meta-value">15 ngày tuổi - 60 tuổi</span>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<script src="~/js/Admin/employees/createEmployees.js"></script>


